/* Hero section styling */

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

.hero .text-content {
    flex: 1;
    padding: 20px;
}

.hero .image-content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero .image-content img {
    max-width: 110%;
    height: auto;
    border-radius: 10px;
}